<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="Texto">
            <h2>
            EstuReview te ayuda a encontrar el colegios y los profesores
            universitarios que necesitas
            </h2>
          <p>
            Encuentra reseñas confiables según tus exigencias sobre colegios
            para los padres de familia y de profesores universitarios para
            estudiantes universitarios. No te quedes con la duda.
          </p>
        </div>
        <button mat-raised-button color="primary" routerLink="/login">
            Comienza Ya
          </button>
          <button mat-raised-button color="primary" routerLink="/user/nuevo">
            Registrate
          </button>
    </div>
</body>
</html>


